
.checkoutContainer {
  background-color: #F76900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;

  .centeredContainer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .backArrowIcon {
    margin-right: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    width: 100%;
    padding: 1.25rem 3rem;
  }

  main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 3rem 0 3rem;
    height: 100vh;

    h2 {
      font-weight: 300;
      font-size: 1.75rem;
      margin: 0;
    }
    p {
      color: grey;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    input[type="text"] {
      //font-size: 2rem;
      font-size: 26px;
      border: none;
      overflow: hidden;
      width: 130px;
      white-space: nowrap;
      font-family: monospace;
      letter-spacing: 4px;
      padding-left: 5px;
    }

    .editIcon {
      height: 2rem;
      width: 2rem;
      margin-left: auto;
    }

    .sixNumberBorder {
      height: 0.2rem;
      border: solid 1px dimgrey;
      border-top: none;
      width: 119px;
      color: dimgrey;
      font-family: monospace;
      background: -o-repeating-linear-gradient(left, #ffffff 0px, #ffffff 19px, #000000 20px);
      background: repeating-linear-gradient(90deg, #ffffff 0px, #ffffff 19px, #000000 20px);
    }

    .fourNumberBorder {
      height: 0.2rem;
      border: solid 1px dimgrey;
      border-top: none;
      width: 79px;
      color: dimgrey;
      font-family: monospace;
      background: -o-repeating-linear-gradient(left, #ffffff 0px, #ffffff 19px, #000000 20px);
      background: repeating-linear-gradient(90deg, #ffffff 0px, #ffffff 19px, #000000 20px);
    }

    .identityNumberBorderRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 245px;
    }
    
    input:focus {
      outline: none;
    }

    .inputRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      p {
        margin-top: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .addressContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    height: 22rem;
  }

  #identityNumberContainer {
    padding-top: 1rem;
    padding-bottom: 1.75rem;
    position: relative;
    cursor: pointer;
  }

  .fetchedCustomerContainer {
    
    h3 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      color: grey;
    }
  }

  .customerInformationContainer {
    position: relative;
    margin-right: 0.75rem;
    width: 25rem;
    height: 100%;
  }

  .formContainer {
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .phoneContainer {
    position: relative;
    margin-top: 0.75rem;
    padding-top: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    height: 16rem;
  }

  #phoneInputContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    height: 6rem;
    cursor: pointer;
  }

  #phone {
    width: 15rem;
  }

  .phoneNumberBorder {
    margin-top: 5px;
    height: 0.2rem;
    border: solid 1px dimgrey;
    border-top: none;
    width: 199px;
    color: dimgrey;
    font-family: monospace;
    background: -o-repeating-linear-gradient(left, #ffffff 0px, #ffffff 19px, #000000 20px);
    background: repeating-linear-gradient(90deg, #ffffff 0px, #ffffff 19px, #000000 20px);
  }

  .cartContainer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 36.75rem;
  }

  .productContainerRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 3px dotted lightgrey;
    margin-top: 0.5rem;

    h3 {
      margin: 0;
      font-weight: 600;
      color: gray;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
    }

    .productColumns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .modelName {
      margin-top: 0.25rem;
      font-size: 1rem;
    }

    .itemImageFrame {
      margin-right: 2rem;
    }

    .itemImage {
      -o-object-fit: cover;
         object-fit: cover;
      height: 3rem;
      width: 3rem;
    }
  }

  .productAmountContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7rem;
    margin-left: auto;
    margin-right: 2rem;
  }

  .operatorIcon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .operatorButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .priceColumn {
    width: 5.5rem;
    text-align: right;
  }

  .cartBottomContainer {
    border-top: 3px dotted lightgray;
    margin-top: auto;

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: white;
      border-radius: 25px;
      border: 5px solid orange;
      margin-top: 5px;

      
    }

    .checkboxContainer {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      p {
        margin-left: 1rem;
      }
    }

    .checkboxContainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .checkboxContainer input:checked ~ .checkmark:after {
      display: block;
    }

    .checkboxContainer .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .paymentRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-left: auto;
    }

    .paymentRow :nth-child(2) {
      width: 7rem;
      text-align: right;
    }

  }

  footer {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #C65500;
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0 0 3rem;

    .orderContainer {
      width: 20rem;
      height: 100%;
      background-color: #703000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 3rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
    }
  
    .orderLink {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }

  .returnArrowIcon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .keypadContainer {
    background-color: #C65500;
    width: 20rem;
    height: 100%;
    padding: 15vh 2rem 0 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;;

    h3 {
      margin: 0;
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
    }
    p {
      color: white;
    }

    .keypad {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      button {
        border: none;
        color: white;
        height: 5rem;
        width: 5rem;
        margin-bottom: 0.5rem;
        font-size: 2.25rem;
        background-color: #8A3B00;
        cursor: pointer;

        .backspaceIcon {
          height: 2.5rem;
          width: 2.5rem;
          margin-top: 0.5rem;
        }

        .checkmarkIcon {
          height: 2.5rem;
          width: 2.5rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .focused {
    padding-left: 3rem;
    margin-left: -1rem;
    width: 22rem;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(133,133,133,1);
            box-shadow: 0px 0px 17px -1px rgba(133,133,133,1);
  }

  .hiddenIcon {
    display: none;
  }
}